.edit {
  &-leftside {
    border-right: 0.5px solid #00000063;
  }
  &-actions {
    width: 237px;

    &-list {
      display: block;
    }
    &-items {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background-color: #fafafa;
      }
      a {
        color: #212529;
      }
    }
  }
}

.edit-actions-items.active {
  border-left: 2px solid #262626;
  font-weight: 700;
}

.fz12 {
  font-size: 14px;
}
