.msg {
  &-content {
    margin: 10px 0;
    position: relative;
  }
  &-action {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    &-icon {
      font-size: 12px !important;
      display: inline-block;
      color: #0008;
      font-weight: 500;
    }
  }
  &-text {
    padding: 9px 14px;
  }

  &-time {
    font-size: 13px;
    color: #777;
  }
  &-btn {
    display: block;
    display: flex;
    align-items: center;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    &-span {
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.msg-content:hover .msg-action {
  opacity: 1;
}

.msg-action:hover .msg-action-icon {
  color: black;
}
