.carousels {
  &-container {
    width: 100%;
    margin-bottom: 20px;
    &-img {
      width: 100%;
      height: 620px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.slick-next {
  right: 10px !important;
}

// .slick-next:before {
//   font-size: 25px !important;
// }

.slick-prev {
  left: 10px !important;
  z-index: 10;
}
