.comment-card {
  &-container {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  &-left {
    display: flex;
  }
  &-heading {
    display: flex;
    flex-direction: column;
    small {
      margin: 10px 0;
      font-size: 12px;
      color: #8e8e8e;
    }
  }
  &-author {
    span {
      font-weight: 700;
      color: #262626;
    }
  }
  &-details {
    margin-left: 5px;
  }
  &-content {
    color: #262626;
    font-weight: 500;
  }
  &-readMore {
    cursor: pointer;
    font-size: 12px;
    color: #8e8e8e;
    transition: all 0.2s linear;
  }
  &-actions {
    margin: 10px 0;
    font-size: 12px;
    color: #8e8e8e;
    .bold {
      font-weight: 700;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  &-likes {
    display: flex;
    // align-items: center;
  }
  &-text {
    textarea {
      width: 400px;
      border: none;
      outline: none;
      background-color: #ddd;
    }
  }
  &-reply {
    color: #262626;
    font-size: 12px;
  }
  &-tag {
    color: #00376b;
    font-size: 14px;
  }
}

.comment-card-likes:hover .comment-menu {
  opacity: 1;
}
