.menu {
  &-navbar {
    display: flex;
    padding-right: 1.5em;
    &-items {
      margin-right: 1.5em;
      opacity: 0.5;
    }
    &-link {
      color: black;
      & :hover {
        cursor: pointer;
      }
    }
    &-dropdown {
      cursor: pointer;
    }
    &-profile {
      position: relative;
    }
    &-notifies {
      position: relative;
    }
    &-icon {
      font-size: 30px !important;
    }
  }
}

.dropdown {
  &-notifies {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    margin: 0.85rem 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    min-width: 500px;
    height: 363px;
  }
  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    margin: 0.85rem 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    min-width: 230px;
    &-actions {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 3px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        transform: translateY(-100%);
      }
    }
    &-items {
      padding: 11px 15px;
      color: #262626;
      &:hover {
        background-color: #fafafa;
      }
      &:last-child {
        border-top: 1px solid #f0f0f0;
      }
    }
    &-profile {
      position: relative;
      &::before {
        content: "\f007";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
        display: inline-block;
      }
    }
    &-saved {
      position: relative;
      &::before {
        content: "\f02e";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
        display: inline-block;
      }
    }
    &-settings {
      position: relative;
      &::before {
        content: "\f013";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
}

.menu-navbar-items.active {
  opacity: 1;
}

.show {
  display: block;
}
