.navigation {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;

  &-container {
    padding: 1em 0 0.9em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    &-logo {
      width: 103px;
      img {
        max-width: 100%;
        object-fit: cover;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-search {
  }
}
