.comment-display {
  &-reply {
    margin-left: 40px;
    margin-bottom: 10px;
  }
  &-line {
    font-size: 12px;
    font-weight: 600;
    color: #8e8e8e;
    cursor: pointer;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 0.1px;
      background-color: #8e8e8e;
      width: 50%;
      left: -35px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-details {
    margin-top: 5px;
  }
}
